html,body{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.share-page{
    width: 100%;
    height:100%;
    background: no-repeat center 80px;
    background-size: 75vw 75vw ;
    background-image: url(../images/bg.jpg);
}
.share-content{
    position: absolute;
    bottom:0;
    width:100%;
}
.tips{
    font-size: 15px;
    color: #000;
    width:100%;
    text-align: center;
    letter-spacing: 4px;
}
.share-content
img{
    width:12px;
    height:12px;
    display: block;
    margin: 20px auto;
}
.btn-download{
    width:92%;
    margin: 30px auto;
    background-color: #368df3;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    text-align: center;
    line-height:44px;
}
.btn-reg{
    width:92%;
    margin: 30px auto;
    background-color: #368df3;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    text-align: center;
    line-height:44px;
}
.register_label{
    width:21px;
    height:21px;
    overflow: hidden;
    margin-right: 12px;
}
.register_label img{
    width:100%;
}
.weui_cell{
    padding: 12px 25px;
}
.weui_input{
    font-size:13px;
}
.weui-vcode-btn{
    font-size: 12px;
    border:1px solid #368cf3;
    color: #368df3;
    height:20px;
    border-radius: 8px;
    line-height:20px;
}
.weui-agree{
    padding-left: 28px;
}
.weui-agree-checkbox{
    background:none;
    border:1px solid #368df3;
    -webkit-appearance: none;
    appearance: none;
    width:13px;
    height:13px;
}
.weui-agree-checkbox:checked{
    background-color: #368df3;
    border:0;
}
.weui-agree-checkbox:checked::before{
    color: #fff;
    font-size: 13px;
}