@charset "utf-8";
/*通用*/
body {
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: "SourceHanSansCN-Regular";
    src:url(../font/SourceHanSansCN-Regular.otf);
    font-weight:normal;
    font-style:normal;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
.container{
    width: 7.5rem;
    height: 15rem;
    background: url("../image/np-background.png") center no-repeat;
    background-size: 7.5rem 15rem;
    overflow: hidden;
}
.newpeople-btn{
    width: 3.86rem;
    height: 1.24rem;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: url("../image/np-btn.png") center no-repeat;
    background-size: 3.86rem 1.24rem;
}
.newpeople-btn:active{
    background: url("../image/np-unbtn.png") center no-repeat;
    background-size: 3.86rem 1.24rem;
}
.tip{
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 2.4rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: .1rem;
    background-color: rgba(0,0,0,0.6);
    font-size: .24rem;
    color: #ffffff;
    display: none;
}