<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.AdvMapper">
	<select id="getHomePagePic" resultType="java.util.HashMap">
		SELECT Pic,AdvType,Url,ProductId from tb_adv where ShowType = 1 AND
		CurStatus = 0
	</select>
	<select id="getHomePageTitle" resultType="java.util.HashMap">
		SELECT
		Title,AdvType,Url,ProductId from tb_adv where ShowType = 2 AND
		CurStatus = 0 Limit 1
	</select>
</mapper>