<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.CoreMapper">
	<select id="selectHigherLev" resultType="java.util.Map">
		SELECT
		b.Lev,b.Id,b.IsSubProxy FROM tb_user a ,tb_user b where a.Id = #{Id}
		AND
		a.BeInviteCode = b.InviteCode
	</select>
	<select id="selectCommendNumOfUser" resultType="java.lang.Integer">
		SELECT Num from
		tb_viprecommendrecord Where UserId = #{UserId}
	</select>

	<insert id="addDistributionRecord">
		INSERT INTO `tb_distributionrecord`
		(OrderId,CreateTime,FromUser_Id,User_Id,User_ElecNum,User_Percent,AmountType,CurStatus,Memo)
		VALUES
		(0,#{CreateTime,jdbcType=TIMESTAMP},#{FromUser_Id},#{User_Id},#{User_ElecNum},0,#{AmountType},0,#{Memo})
	</insert>

	<insert id="insertCommendNumOfUser">
		insert into tb_viprecommendrecord (UserId,Num) VALUES (#{UserId},1)
	</insert>

	<insert id="insertSendHead">
		insert into tb_sendhead
		(CreateTime,UserId,FromUserA,FromUserB,ProxyId,Lev,SendType,CurStatus)
		VALUES (#{CreateTime},#{UserId},0,0,0,#{Lev},#{SendType},0)
	</insert>
	
	<update id="setZeroCommendOfUser">
		update tb_viprecommendrecord set Num = #{Num} where UserId = #{UserId}
	</update>
</mapper>