<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.CoreMapper">
	<select id="selectHigherLev" resultType="java.util.Map">
		SELECT
		b.Lev,b.Id,b.IsSubProxy FROM tb_user a ,tb_user b where a.Id = #{Id}
		AND
		a.BeInviteCode = b.InviteCode
	</select>
	<insert id="addDistributionRecord">
		INSERT INTO `tb_distributionrecord`
		(OrderId,CreateTime,FromUser_Id,User_Id,User_ElecNum,User_Percent,AmountType,CurStatus,Memo)
		VALUES
		(0,#{CreateTime,jdbcType=TIMESTAMP},#{FromUser_Id},#{User_Id},#{User_ElecNum},0,#{AmountType},0,#{Memo})
	</insert>

</mapper>