<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.MemberShipMapper">
	<insert id="insertVipOrder" parameterType="java.util.Map">
		INSERT INTO
		tb_viporder
		(OrderNo,UserId,CreateTime,ElecNum,TolAmout,Lev,RealPay,CurStatus)
		VALUES
		(#{OrderNo},#{UserId},#{CreateTime},#{ElecNum},#{TolAmout},#{Lev},#{RealPay},0)
	</insert>
	<insert id="insertCOrder" parameterType="java.util.Map">
		INSERT INTO tb_recharge
		(OrderNo,UserId,CreateTime,Amount,Currency,CurStatus)
		VALUES
		(#{OrderNo},#{UserId},#{CreateTime},#{Amount},"RMB",0)
	</insert>

	<select id="selectViporderByOrderAndUser" resultType="java.util.Map">
		SELECT
		TolAmout,Lev from tb_viporder where OrderNo = #{OrderNo} and UserId =
		#{UserId}
	</select>
	<select id="selectViporderByOrderNo" resultType="java.util.Map">
		SELECT
		TolAmout,Lev,UserId from tb_viporder where OrderNo = #{OrderNo}
	</select>
	<select id="selectCOrderByOrderNo" resultType="java.util.Map">
		SELECT
		Amount,UserId from tb_recharge where OrderNo = #{OrderNo}
	</select>
	<update id="changeVipOrderToPaid">
		UPDATE tb_viporder set CurStatus = 1 WHERE CurStatus
		= 0 AND OrderNo = #{OrderNo}
	</update>
	<update id="changeCOrderToPaid">
		UPDATE tb_recharge set CurStatus = 1 WHERE CurStatus
		= 0 AND OrderNo = #{OrderNo}
	</update>
	<select id="getRedFans" resultType="java.lang.Integer">
		SELECT count(1) from tb_user
		where BeInviteCode = #{inviteCode}
	</select>
	<select id="getBlueFans" resultType="java.lang.Integer">
		SELECT COUNT(1) from tb_user
		where BeInviteCode in (SELECT InviteCode from tb_user where
		BeInviteCode = #{inviteCode})
	</select>
	<select id="getYellowFans" resultType="java.lang.Integer">
		SELECT COUNT(1) from
		tb_user where BeInviteCode in (SELECT InviteCode from
		tb_user where
		BeInviteCode in (SELECT InviteCode from tb_user where
		BeInviteCode =
		#{inviteCode}))
	</select>
	<select id="getRedFansDetails" resultType="java.util.Map">
		SELECT
		Id,SysID,UserName from tb_user
		where BeInviteCode = #{inviteCode}
	</select>
	<select id="getBlueFansDetails" resultType="java.util.Map">
		SELECT
		Id,SysID,UserName from tb_user
		where BeInviteCode in (SELECT InviteCode
		from tb_user where
		BeInviteCode = #{inviteCode})
	</select>
	<select id="getYellowFansDetails" resultType="java.util.Map">
		SELECT
		Id,SysID,UserName from
		tb_user where BeInviteCode in (SELECT InviteCode
		from
		tb_user where
		BeInviteCode in (SELECT InviteCode from tb_user where
		BeInviteCode =
		#{inviteCode}))
	</select>
	<select id="getContributeAmount" resultType="java.math.BigDecimal">
		SELECT
		SUM(User_ElecNum) from tb_distributionrecord WHERE FromUser_Id
		=
		#{FromUserId} AND User_Id = #{UserId}
	</select>

</mapper>