<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.OrderMapper">
	<resultMap id="orderDetailsMap" type="Orderhead">
		<id column="Id" property="id" />
		<result column="OrderNo" property="orderno" />
		<result column="CreateTime" property="createtime" />
		<result column="SendDate" property="senddate" />
		<result column="ReceivedTime" property="receivedtime" />
		<result column="CurStatus" property="curstatus" />
		<result column="ReceiverName" property="receivername" />
		<result column="ReceiverPhone" property="receiverphone" />
		<result column="ProvinceId" property="provinceid" />
		<result column="CityId" property="cityid" />
		<result column="RegionId" property="regionid" />
		<result column="Address" property="address" />
		<result column="TotalAmount" property="totalamount" />
		<result column="UseElecNum" property="useelecnum" />
		<result column="UseCoupon" property="usecoupon" />
		<result column="UsePointNum" property="usepointnum" />
		<result column="UseVIPRemainNum" property="usevipremainnum" />
		<result column="RealPay" property="realpay" />
		<result column="Freight" property="freight" />
		<collection column="Id" property="orderlines" ofType="Orderline"
			select="selectOrderLineByOrderId" fetchType="eager">
			<result column="ProductName" property="productname" />
			<result column="SpecName" property="specname" />
			<result column="ProductNum" property="productnum" />
			<result column="Price" property="price" />
			<result column="ProductId" property="productId" />
		</collection>
	</resultMap>
	<select id="getUserOrderStatus" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM
		tb_orderhead WHERE UserId = #{userId} AND CurStatus = -1
		UNION ALL
		SELECT COUNT(1) FROM tb_orderhead WHERE UserId = #{userId} AND
		CurStatus = 0
		UNION ALL
		SELECT COUNT(1) FROM tb_orderhead WHERE UserId =
		#{userId} AND CurStatus = 1
		UNION ALL
		SELECT COUNT(1) FROM tb_orderhead
		WHERE UserId = #{userId} AND CurStatus = 2
	</select>
	<select id="getSpecElecNumAndPriceById" resultType="java.util.Map">
		SELECT
		ElecNum,Price from
		tb_productspec where Id = #{SpecId}
	</select>
	<select id="getDetailsFormorderheadC" resultType="java.util.Map">
		SELECT
		TolAmount,OrderNoC,PlatformMoney from tb_orderheadcolleciton where
		OrderNoCName =
		#{orderNoCName};
	</select>
	<select id="getPlatformMoneyOfOrderhead" resultType="java.lang.Integer">
		SELECT
		UseElecNum+UseCoupon+UsePointNum+UseVIPRemainNum from tb_orderhead
		WHERE OrderNo = #{OrderNo}
	</select>
	<select id="getMoneyUseOfOrderhead" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		UseElecNum+UsePointNum+UseCoupon+UseVIPRemainNum
		PlatformMoney,RealPay from tb_orderhead where OrderNo =
		#{OrderNo,jdbcType=VARCHAR}
	</select>

	<select id="getNeedSubDetailsOfOrderHead" resultType="java.util.Map">
		SELECT
		UserId,UseElecNum,UseCoupon,UsePointNum,UseVIPRemainNum from
		tb_orderhead where OrderNo =
		#{orderNo};
	</select>
	<insert id="insertOrderHead" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.zhongjian.webserver.dto.OrderHeadDto">
		INSERT INTO
		tb_orderhead
		(OrderNo,CreateTime,UserId,TotalAmount,UseElecNum,UseCoupon,UsePointNum,UseVIPRemainNum,Freight,RealPay,ProvinceId,CityId,RegionId,Address,ReceiverName,ReceiverPhone,CurStatus,Memo,ProducerNo,Producertel,ProducerName)
		VALUES
		(#{orderNo},#{createTime,jdbcType=TIMESTAMP},#{userId},#{totalAmount},#{useElecNum},#{useCoupon},#{usePointNum},#{useVIPRemainNum},#{freight},#{realPay},#{provinceId},#{cityId},#{regionId},#{address},#{receiverName},#{receiverPhone},-1,#{memo},#{producerno},#{producertel},#{producername})
	</insert>
	<insert id="insertOrderLine" parameterType="com.zhongjian.webserver.dto.OrderLineDto">
		INSERT INTO
		tb_orderline
		(OrderId,ProductId,SpecId,ProductName,SpecName,ProductNum,Price,Amount)
		VALUES
		(#{orderId},#{productId},#{specId},#{productName},#{specName},#{productNum},#{price},#{amount})
	</insert>
	<update id="updateOrderHeadScore" parameterType="java.lang.Integer">
		UPDATE
		tb_orderhead SET Score = #{Score} WHERE Id = #{Id}
	</update>
	<insert id="insertOrderHeadCo">
		INSERT INTO tb_orderHeadColleciton
		(OrderNoCName,OrderNoC,TolAmount,PlatformMoney,CurStatus,CreateTime,UserId)
		VALUES
		(#{orderNoCName},#{orderNoC},#{tolAmount,jdbcType=DECIMAL},#{platformMoney,jdbcType=DECIMAL},0,#{curTime},#{UserId})
	</insert>
	<update id="updateOrderHeadCoCur">
		UPDATE tb_orderHeadColleciton set CurStatus = 1 WHERE
		CurStatus = 0
	</update>
	<update id="updateOrderHeadStatusToWP">
		UPDATE tb_orderhead set CurStatus = 0 WHERE
		CurStatus
		= -1 and OrderNo = #{OrderNo}
	</update>
	<update id="updateOrderHeadStatus">
		UPDATE tb_orderhead set CurStatus = #{CurStatus} and
		OrderNo = #{OrderNo}
	</update>
	<insert id="insertPreSubQuata">
		INSERT INTO tb_preorderuse
		(UserId,PreUseCoupon,PreUseElec,PreUsePoints,PreUseVipremain,ExpireTime)
		VALUES
		(#{UserId},#{PreUseCoupon},#{PreUseElec},#{PreUsePoints},#{PreUseVipremain},#{ExpireTime})
	</insert>
	<select id="getUserIdByOrderC" resultType="java.lang.Integer">
		SELECT UserId from
		tb_orderheadcolleciton WHERE OrderNoCName = #{OrderNoCName}
	</select>
	<select id="getUserIdByOrder" resultType="java.lang.Integer">
		SELECT UserId from
		tb_orderhead WHERE OrderNo = #{OrderNo}
	</select>
	<select id="getOrderDetailsById" resultMap="orderDetailsMap">
		SELECT
		Id,OrderNo,CreateTime,SendDate,ReceivedTime,CurStatus,ReceiverName,ReceiverPhone,ProvinceId,CityId,RegionId,Address,TotalAmount,Freight,RealPay,UseElecNum,UseCoupon,UsePointNum,UseVIPRemainNum,ExpressName,ExpressNo
		from
		tb_orderhead WHERE Id = #{orderId}
	</select>
	<select id="getOrderDetailsByCurStatus" resultMap="orderDetailsMap">
		SELECT
		Id,OrderNo,CreateTime,SendDate,ReceivedTime,CurStatus,TotalAmount,RealPay,Freight
		from
		tb_orderhead WHERE UserId = #{UserId} ${Condition} order by
		CreateTime desc limit #{OffSet},#{PageNum}
	</select>
	<select id="selectOrderLineByOrderId" resultType="OrderLine">
		SELECT
		ProductId, ProductName,SpecName,ProductNum,Price
		FROM tb_orderline
		where
		OrderId = #{OrderId}
	</select>
	<select id="selectOrderNoAndCTWForPaid" resultType="java.util.Map">
		SELECT
		ProductName,SpecName,ProductNum,Price from
		tb_orderline WHERE OrderId =
		#{orderId}
	</select>
	<select id="getPhotoByProductId" resultType="java.lang.String">
		SELECT Photo FROM
		tb_productphoto where ProductId = #{ProductId} and
		CurStatus = 0 limit
		1
	</select>
	<update id="autoCancelOrder">
		UPDATE tb_orderhead set CurStatus = -2 where Id in
		(
		SELECT Id from
		(SELECT Id FROM tb_orderhead WHERE CurStatus =-1 and
		unix_timestamp(#{DateStrString}) - unix_timestamp(CreateTime) >
		#{Duration}) a
		);
	</update>
	<update id="updateOrderHeadStatusToWC">
		UPDATE tb_orderhead set CurStatus = 2 WHERE
		CurStatus
		= 1 and OrderNo = #{OrderNo}
	</update>
	<update id="updateOrderHeadStatusToAR">
		UPDATE tb_orderhead set CurStatus = 5 WHERE
		CurStatus
		= 0 and OrderNo = #{OrderNo}
	</update>

	<update id="updateOrderHeadStatusToASR">
		UPDATE tb_orderhead set CurStatus = 4 WHERE
		CurStatus
		= 1 and OrderNo = #{OrderNo}
	</update>

	<select id="getOrderDetailsByOrderNo" resultType="java.util.Map">
		SELECT
		UserId,TotalAmount,UseCoupon,UseVIPRemainNum,Score FROM
		tb_orderhead
		WHERE OrderNo = #{OrderNo}
	</select>
	<select id="getWROrderNo" resultType="java.lang.String">
		SELECT OrderNo FROM
		tb_orderhead WHERE CurStatus = 1 and
		unix_timestamp(#{DateStrString}) -
		unix_timestamp(SendDate) >
		#{Duration} for update
	</select>
	<select id="getOrderIdByOrderNo" resultType="java.lang.Integer">
		select Id from
		tb_orderhead where OrderNo = #{OrderNo}
	</select>
</mapper>