<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.OrderMapper">
	<resultMap id="orderDetailsMap" type="Orderhead">
		<id column="Id" property="id" />
		<result column="OrderNo" property="orderno" />
		<result column="CreateTime" property="createtime" />
		<result column="SendDate" property="senddate" />
		<result column="ReceivedTime" property="receivedtime" />
		<result column="CurStatus" property="curstatus" />
		<result column="ReceiverName" property="receivername" />
		<result column="ReceiverPhone" property="receiverphone" />
		<result column="ProvinceId" property="provinceid" />
		<result column="CityId" property="cityid" />
		<result column="RegionId" property="regionid" />
		<result column="TotalAmount" property="totalamount" />
		<result column="UseElecNum" property="useelecnum" />
		<result column="UseCoupon" property="usecoupon" />
		<result column="UsePointNum" property="usepointnum" />
		<result column="UseVIPRemainNum" property="usevipremainnum" />
		<collection column="Id" property="orderlines" ofType="Orderline"
			select="selectOrderLineByOrderId" fetchType="eager">
			<result column="ProductName" property="productname" />
			<result column="SpecName" property="specname" />
			<result column="ProductNum" property="productnum" />
			<result column="Price" property="price" />
			<result column="ExpressName" property="expressname" />
			<result column="ExpressNo" property="expressno" />
		</collection>
	</resultMap>
	<select id="getUserOrderStatus" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM
		tb_orderhead WHERE UserId = #{userId} AND CurStatus = -1
		UNION ALL
		SELECT COUNT(1) FROM tb_orderhead WHERE UserId = #{userId} AND
		CurStatus = 0
		UNION ALL
		SELECT COUNT(1) FROM tb_orderhead WHERE UserId =
		#{userId} AND CurStatus = 1
		UNION ALL
		SELECT COUNT(1) FROM tb_orderhead
		WHERE UserId = #{userId} AND CurStatus = 2
	</select>
	<select id="getSpecElecNumById" resultType="java.lang.Integer">
		SELECT ElecNum from
		tb_productspec where Id = #{SpecId}
	</select>
	<select id="getDetailsFormorderheadC" resultType="java.util.Map">
		SELECT
		TolAmount,OrderNoC,PlatformMoney from tb_orderheadcolleciton where
		OrderNoCName =
		#{orderNoCName};
	</select>
	<select id="getPlatformMoneyOfOrderhead" resultType="java.lang.Integer">
		SELECT
		UseElecNum+UseCoupon+UsePointNum+UseVIPRemainNum from tb_orderhead
		WHERE OrderNo = #{OrderNo}
	</select>
	<select id="getNeedSubDetailsOfOrderHead" resultType="java.util.Map">
		SELECT
		UserId,UseElecNum,UseCoupon,UsePointNum,UseVIPRemainNum from
		tb_orderhead where OrderNo =
		#{orderNo};
	</select>
	<insert id="insertOrderHead" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.zhongjian.webserver.dto.OrderHeadDto">
		INSERT INTO
		tb_orderhead
		(OrderNo,CreateTime,UserId,TotalAmount,UseElecNum,UseCoupon,UsePointNum,UseVIPRemainNum,Freight,RealPay,ProvinceId,CityId,RegionId,Address,ReceiverName,ReceiverPhone,CurStatus,Memo,ProducerNo,Producertel,ProducerName)
		VALUES
		(#{orderNo},#{createTime,jdbcType=TIMESTAMP},#{userId},#{totalAmount},#{useElecNum},#{useCoupon},#{usePointNum},#{useVIPRemainNum},#{freight},#{realPay},#{provinceId},#{cityId},#{regionId},#{address},#{receiverName},#{receiverPhone},-1,#{memo},#{producerno},#{producertel},#{producername})
	</insert>
	<insert id="insertOrderLine" parameterType="com.zhongjian.webserver.dto.OrderLineDto">
		INSERT INTO
		tb_orderline
		(OrderId,ProductName,SpecName,ProductNum,Price,Amount)
		VALUES
		(#{orderId},#{productName},#{specName},#{productNum},#{price},#{amount})
	</insert>
	<update id="updateOrderHeadScore" parameterType="java.lang.Integer">
		UPDATE
		tb_orderhead SET Score = #{Score} WHERE Id = #{Id}
	</update>
	<insert id="insertOrderHeadCo">
		INSERT INTO tb_orderHeadColleciton
		(OrderNoCName,OrderNoC,TolAmount,PlatformMoney,CurStatus,CreateTime,UserId)
		VALUES
		(#{orderNoCName},#{orderNoC},#{tolAmount,jdbcType=DECIMAL},#{platformMoney,jdbcType=DECIMAL},0,#{curTime},#{UserId})
	</insert>
	<update id="updateOrderHeadCoCur">
		UPDATE tb_orderHeadColleciton set CurStatus = 1 WHERE
		CurStatus = 0
	</update>
	<update id="updateOrderHeadStatusToWP">
		UPDATE tb_orderhead set CurStatus = 0 WHERE
		CurStatus
		= -1 and OrderNo = #{OrderNo}
	</update>
	<update id="updateOrderHeadStatus">
		UPDATE tb_orderhead set CurStatus = #{CurStatus} and
		OrderNo = #{OrderNo}
	</update>
	<insert id="insertPreSubQuata">
		INSERT INTO tb_preorderuse
		(UserId,PreUseCoupon,PreUseElec,PreUsePoints,PreUseVipremain,ExpireTime)
		VALUES
		(#{UserId},#{PreUseCoupon},#{PreUseElec},#{PreUsePoints},#{PreUseVipremain},#{ExpireTime})
	</insert>
	<select id="getUserIdByOrderC" resultType="java.lang.Integer">
		SELECT UserId from
		tb_orderheadcolleciton WHERE OrderNoCName = #{OrderNoCName}
	</select>
	<select id="getUserIdByOrder" resultType="java.lang.Integer">
		SELECT UserId from
		tb_orderhead WHERE OrderNo = #{OrderNo}
	</select>
	<select id="getOrderDetailsById" resultMap="orderDetailsMap">
		SELECT
		Id,OrderNo,CreateTime,SendDate,ReceivedTime,CurStatus,ReceiverName,ReceiverPhone,ProvinceId,CityId,RegionId,TotalAmount,UseElecNum,UseCoupon,UsePointNum,UseVIPRemainNum,ExpressName,ExpressNo
		from
		tb_orderhead WHERE Id = #{orderId}
	</select>
	<select id="selectOrderLineByOrderId" resultType="OrderLine">
		SELECT
		ProductName,SpecName,ProductNum,Price from
		tb_orderline WHERE OrderId =
		#{orderId}
	</select>
</mapper>