<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.ProductMapper">
	<resultMap type="ProductCategory" id="ProductCategoryMap">
		<id property="id" column="Id" />
		<result property="categoryname" column="CategoryName" />
		<result property="ord" column="Ord" />
		<collection property="productSubCategories" ofType="ProductSubCategory">
			<id column="SubId" property="id" />
			<result column="SubCategoryName" property="categoryname" />
			<result column="Icon" property="icon" />
			<result column="SubOrd" property="ord" />
		</collection>
	</resultMap>
	<resultMap type="Product" id="ProductDetails">
		<id column="Id" property="id" />
		<result column="CreateTime" property="createtime" />
		<result column="ElecNum" property="elecnum" />
		<result column="StockNum" property="stocknum" />
		<result column="PlaceOfDelivery" property="placeofdelivery" />
		<result column="ProducerNo" property="producerno" />
		<result column="Producertel" property="producertel" />
		<result column="ProducerName" property="producername" />
		<collection column="Id" property="productphotos" ofType="Productphoto"
			select="selectProductPhotosById" fetchType="eager">
			<result column="Photo" property="photo" />
		</collection>
		<collection column="Id" property="productspecs" ofType="ProductSpec"
			select="selectProductSpecsById" fetchType="eager">
			<result column="SpecName" property="specname" />
		</collection>
	</resultMap>

	<resultMap type="ProductComment" id="ProductCommentMap">
		<result column="Id" property="id" />
		<result column="Price" property="price" />
		<result column="Memo" property="memo" />
		<result column="Star" property="star" />
		<association column="UserId" property="user" javaType="User"
			select="getUserInfo" fetchType="eager">
			<result column="TrueName" property="truename" />
			<result column="HeadPhoto" property="headphoto" />
		</association>
		<collection column="Id" property="productCommentPhotos"
			ofType="ProductCommentPhoto" select="getCommetPhoto" fetchType="eager">
			<result column="Photo" property="photo" />
		</collection>
	</resultMap>
	<resultMap type="Tag" id="TagMap">
		<id column="tagId" property="tagId" />
		<id column="tagName" property="tagName" />
		<collection property="productsOfTag" ofType="Product">
			<id column="Id" property="id" />
			<result column="ProductName" property="productname" />
			<result column="Price" property="price" />
			<result column="ElecNum" property="elecnum" />
			<collection property="productphotos" ofType="Productphoto">
				<result column="Photo" property="photo" />
			</collection>
		</collection>
	</resultMap>
	<resultMap id="SubCategoryProductMap" type="Product">
		<id column="Id" property="id" />
		<result column="ProductName" property="productname" />
		<result column="Price" property="price" />
		<result column="ElecNum" property="elecnum" />
		<collection property="productphotos" ofType="Productphoto">
			<result column="Photo" property="photo" />
		</collection>
	</resultMap>
	<select id="getCategory" resultMap="ProductCategoryMap">
		select
		c.Id,c.CategoryName,c.Ord,s.Id SubId,s.CategoryName
		SubCategoryName,s.Icon,s.Ord
		SubOrd from tb_productcategory c JOIN
		tb_productsubcategory s on c.Id
		= s.ParentId order by c.Ord,s.Ord
	</select>
	<select id="findById" resultMap="ProductDetails" parameterType="integer">
		select
		p.Tag,p.Id,p.Price,p.Freight,p.ElecNum,p.StockNum,p.PlaceOfDelivery,p.ProducerNo,p.Producertel,p.ProducerName
		from
		tb_product
		p where Id = #{id}
	</select>
	<select id="getProductNumById" resultType="Product"
		parameterType="integer">
		select Id,ProductName,StockNum from
		tb_product where Id =
		#{id}
	</select>
	<select id="findProductHtmlTextById" resultType="java.lang.String"
		parameterType="integer">
		select HtmlText from tb_product where Id = #{id}
	</select>
	<select id="selectProductPhotosById" resultType="Productphoto"
		parameterType="integer">
		select Photo from tb_productphoto where ProductId =
		#{id} and CurStatus = 0
	</select>
	<select id="selectProductSpecsById" resultType="ProductSpec"
		parameterType="integer">
		select Id,SpecName,ElecNum,Price from tb_productspec
		where ProductId =
		#{id} and CurStatus = 0
	</select>
	<select id="selectProductcommentById" resultMap="ProductCommentMap">
		SELECT
		Id,CreateTime,Memo,Star,UserId from tb_productcomment
		WHERE ProductId =
		#{productId}
		and CurStatus = 1 limit ${page},${pageNum}
	</select>
	<select id="getUserInfo" resultType="User" parameterType="integer">
		SELECT
		TrueName,HeadPhoto from tb_user
		WHERE Id = #{UserId}
	</select>
	<select id="getCommetPhoto" resultType="ProductCommentPhoto"
		parameterType="integer">
		SELECT Photo from tb_productcommentphoto where CommentId
		= #{id}
	</select>
	<select id="getProductOfCategory" resultMap="ProductCategoryMap">
		SELECT * from
		tb_product where SubCategoryId = #{SubCategoryId}
	</select>
	<select id="getProductsOfSubCategory" resultMap="SubCategoryProductMap">
		select tp.Id,ProductName,Price,ElecNum,Photo from tb_product
		tp,tb_productphoto th where tp.Id = th.ProductId and SubCategoryId =
		#{SubCategoryId}
	</select>
	<select id="getAllTagProduct" resultMap="TagMap">
		SELECT
		tg.tagId,tg.tagName,tp.Id,tp.ProducerName,tp.Price,tp.ElecNum,th.Photo
		from tb_tag tg,tb_product tp,tb_productphoto th where tg.tagId =
		tp.Tag and tp.Id = th.ProductId and tp.CurStatus = 0 and th.CurStatus
		= 0 order by tg.ord
	</select>
</mapper>