<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.ProductMapper">
	<resultMap type="ProductCategory" id="ProductCategoryMap">
		<id property="id" column="Id" />
		<result property="categoryname" column="CategoryName" />
		<result property="ord" column="Ord" />
		<collection property="productSubCategories" ofType="ProductSubCategory">
			<id column="SubId" property="id" />
			<result column="SubCategoryName" property="categoryname" />
			<result column="Icon" property="icon" />
			<result column="SubOrd" property="ord" />
		</collection>
	</resultMap>
	<resultMap type="Product" id="ProductDetails">
		<id column="Id" property="id" />
		<result column="CreateTime" property="createtime" />
		<result column="ElecNum" property="elecnum" />
		<result column="StockNum" property="stocknum" />
		<result column="ProductName" property="productname" />
		<result column="Freight" property="freight" />
		<result column="PlaceOfDelivery" property="placeofdelivery" />
		<result column="ProducerNo" property="producerno" />
		<result column="Producertel" property="producertel" />
		<result column="ProducerName" property="producername" />
		<collection column="Id" property="productphotos" ofType="Productphoto"
			select="selectProductPhotosById" fetchType="eager">
			<result column="Photo" property="photo" />
		</collection>
		<collection column="Id" property="productspecs" ofType="ProductSpec"
			select="selectProductSpecsById" fetchType="eager">
			<result column="SpecName" property="specname" />
		</collection>
	</resultMap>

	<resultMap type="ProductComment" id="ProductCommentMap">
		<result column="Id" property="id" />
		<result column="Price" property="price" />
		<result column="Memo" property="memo" />
		<result column="Star" property="star" />
		<association column="UserId" property="user" javaType="User"
			select="getUserInfo" fetchType="eager">
			<result column="TrueName" property="truename" />
			<result column="HeadPhoto" property="headphoto" />
		</association>
		<collection column="Id" property="productCommentPhotos"
			ofType="ProductCommentPhoto" select="getCommetPhoto" fetchType="eager">
			<result column="Photo" property="photo" />
		</collection>
	</resultMap>
	<resultMap type="Tag" id="AllTagMap">
		<id column="tagId" property="tagId" />
		<id column="tagName" property="tagName" />
		<collection property="productsOfTag" ofType="Product">
			<id column="Id" property="id" />
			<result column="ProductName" property="productname" />
			<result column="Price" property="price" />
			<result column="ElecNum" property="elecnum" />
			<result column="OldPrice" property="oldprice" />
			<collection property="productphotos" ofType="Productphoto">
				<result column="Photo" property="photo" />
			</collection>
		</collection>
	</resultMap>
	<resultMap id="SubCategoryProductMap" type="Product">
		<id column="Id" property="id" />
		<result column="ProductName" property="productname" />
		<result column="Price" property="price" />
		<result column="ElecNum" property="elecnum" />
		<result column="Tag" property="tag" />
		<collection column="Id" property="productphotos" ofType="Productphoto"
			select="selectProductPhotosById" fetchType="eager">
			<result column="Photo" property="photo" />
		</collection>
	</resultMap>
	<resultMap id="TagProductMap" type="Product">
		<id column="Id" property="id" />
		<result column="ProductName" property="productname" />
		<result column="Price" property="price" />
		<result column="OldPrice" property="oldprice" />
		<result column="ElecNum" property="elecnum" />
		<result column="Tag" property="tag" />
		<collection column="Id" property="productphotos" ofType="Productphoto"
			select="selectProductPhotosById" fetchType="eager">
			<result column="Photo" property="photo" />
		</collection>
	</resultMap>
	<select id="getCategory" resultMap="ProductCategoryMap">
		select
		c.Id,c.CategoryName,c.Ord,s.Id SubId,s.CategoryName
		SubCategoryName,s.Icon,s.Ord
		SubOrd from tb_productcategory c JOIN
		tb_productsubcategory s on c.Id
		= s.ParentId and c.CurStatus = 0 and
		s.CurStatus= 0 order by c.Ord,s.Ord
	</select>
	<select id="findById" resultMap="ProductDetails" parameterType="java.lang.Integer">
		select
		p.Tag,p.Id,p.Price,p.ProductName,p.Freight,p.ElecNum,p.StartNum,p.StockNum,p.PlaceOfDelivery,p.ProducerNo,p.Producertel,p.ProducerName
		from
		tb_product
		p where Id = #{id}
	</select>
	<select id="getProductNumById" resultType="Product"
		parameterType="java.lang.Integer">
		select Id,ProductName,StockNum from
		tb_product where Id =
		#{id}
	</select>
	<select id="findProductHtmlTextById" resultType="java.lang.String"
		parameterType="java.lang.Integer">
		select HtmlText from tb_product where Id = #{id}
	</select>
	<select id="selectProductPhotosById" resultType="Productphoto"
		parameterType="java.lang.Integer">
		select Photo from tb_productphoto where ProductId =
		#{id} and CurStatus = 0
	</select>
	<select id="selectProductSpecsById" resultType="ProductSpec"
		parameterType="java.lang.Integer">
		select Id,SpecName,ElecNum,Price from tb_productspec
		where ProductId =
		#{id} and CurStatus = 0
	</select>
	<select id="selectProductcommentById" resultMap="ProductCommentMap">
		SELECT
		Id,CreateTime,Memo,Star,UserId from tb_productcomment
		WHERE ProductId =
		#{productId}
		and CurStatus = 1 ORDER BY CreateTime DESC limit
		#{page},#{pageNum}
	</select>
	<select id="getUserInfo" resultType="User" parameterType="java.lang.Integer">
		SELECT
		TrueName,HeadPhoto from tb_user
		WHERE Id = #{UserId}
	</select>
	<select id="getCommetPhoto" resultType="ProductCommentPhoto"
		parameterType="java.lang.Integer">
		SELECT Photo from tb_productcommentphoto where CommentId
		= #{id}
	</select>
	<select id="getProductOfCategory" resultMap="ProductCategoryMap">
		SELECT * from
		tb_product where SubCategoryId = #{SubCategoryId}
	</select>
	<select id="getProductsOfSubCategory" resultMap="SubCategoryProductMap">
		SELECT
		Id,ProductName,Price,OldPrice,ElecNum,Tag from tb_product where
		SubCategoryId = #{SubCategoryId} and CurStatus = 0 ORDER BY
		${Condition} LIMIT #{page},#{pageNum}
	</select>
	<select id="getProductsOfTag" resultMap="TagProductMap">
		SELECT
		Id,ProductName,Price,OldPrice,ElecNum,Tag from tb_product where
		Tag =
		#{Tag} and CurStatus = 0 ORDER BY
		${Condition} LIMIT #{page},#{pageNum}
	</select>
	<select id="getAllTagProduct" resultMap="AllTagMap">
		SELECT
		tg.tagId,tg.tagName,tp.Id,tp.ProductName,tp.Price,tp.OldPrice,tp.ElecNum,th.Photo
		from tb_tag tg,tb_product tp,tb_productphoto th where tg.tagId =
		tp.Tag and tp.Id = th.ProductId and tp.CurStatus = 0 and th.CurStatus
		= 0 and tp.tag != #{tag} order by tg.ord
	</select>
	<select id="getMemberTag" resultType="java.lang.Integer">
		SELECT tagId from tb_tag
		where tagName = '会员专区'
	</select>

	<select id="searchProduct" resultType="java.util.Map">
		SELECT Price,OldPrice,ElecNum,ProductName,Tag from tb_product where
		ProductName LIKE #{Key}
	</select>
</mapper>