<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.ShoppingCartMapper">
	<resultMap type="ShoppingCart" id="ShoppingCartMap">
		<id property="id" column="Id" />
		<result property="productnum" column="ProductNum" />
		<association property="product" column="ProductId"
			javaType="Product">
			<result property="productname" column="ProductName" />
			<result property="price" column="Price" />
			<result property="oldprice" column="OldPrice" />
			<result property="producerno" column="ProducerNo" />
			<result property="producername" column="ProducerName" />
			<result property="elecnum" column="ElecNum" />
		</association>
		<association property="productSpec" column="SpecId"
			javaType="ProductSpec">
			<result property="specname" column="SpecName" />
			<result property="elecnum" column="sElecNum" />
			<result property="price" column="sPrice" />
		</association>
	</resultMap>
	<select id="getShoppingCartInfo" resultMap="ShoppingCartMap">
		select
		c.Id,c.ProductNum,p.ProducerNo,p.ProducerName,p.ProductName,p.Price,p.OldPrice,p.ElecNum,s.SpecName,s.ElecNum
		sElecNum,s.Price sPrice
		from
		tb_shoppingcart c join tb_product p join
		tb_productspec s on p.Id
		=
		c.ProductId and c.SpecId = s.Id and UserId =
		#{UserId}
	</select>
	<insert id="addShoppingCartInfo">
		insert into
		tb_shoppingcart(UserId,ProductId,SpecId,ProductNum,CreateTime) VALUES
		(#{UserId},#{productId},#{specId},#{productNum},#{CreateTime})
	</insert>
	<update id="setShoppingCartInfo">
		update tb_shoppingcart set ProductNum = #{productNum}
		where Id = #{shoppingCartId} and UserId = #{UserId}
	</update>
	<delete id="delShoppingCartInfoById">
		delete from tb_shoppingcart where Id = #{id} and
		UserId = #{UserId}
	</delete>
	<select id="getProudctIdByShoppingId" resultType="java.lang.Integer">
		select productId from tb_shoppingcart where Id = #{shoppingCartId}
	</select>
</mapper>