<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.ShoppingCartMapper">
	<resultMap type="ShoppingCart" id="ShoppingCartMap">
		<id property="id" column="Id" />
		<result property="productnum" column="ProductNum" />
		<association property="product" column="ProductId"
			javaType="Product">
			<result property="productname" column="ProductName" />
			<result property="price" column="Price" />
			<result property="oldprice" column="OldPrice" />
		</association>
		<association property="productSpec" column="SpecId"
			javaType="ProductSpec">
			<result property="specname" column="SpecName" />
		</association>
	</resultMap>
	<select id="getShoppingCartInfo" resultMap="ShoppingCartMap">
		select c.Id,c.ProductNum,p.ProductName,p.Price,p.OldPrice,s.SpecName from
		tb_shoppingcart c join tb_product p join tb_productspec s on p.Id =
		c.ProductId and c.SpecId = s.Id and UserId = #{UserId}
	</select>
    <delete id="delShoppingCartInfoById">  
        delete from tb_shoppingcart where Id = #{id} and UserId = #{UserId}
    </delete>  

</mapper>