<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongjian.webserver.mapper.StudentMapper">
	<update id="updateStudent" parameterType="Student">
       update t_students set name=#{name},sex=#{sex} where id=#{id}
    </update>
    
   
</mapper>