<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongjian.webserver.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.zhongjian.webserver.pojo.User">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="UserName" property="username" jdbcType="VARCHAR" />
		<result column="TrueName" property="truename" jdbcType="VARCHAR" />
		<result column="Password" property="password" jdbcType="VARCHAR" />
		<result column="PayPassword" property="paypassword" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="Sex" property="sex" jdbcType="VARCHAR" />
		<result column="Phone" property="phone" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="Alipay" property="alipay" jdbcType="VARCHAR" />
		<result column="WxOpenId" property="wxopenid" jdbcType="VARCHAR" />
		<result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="Coupon" property="coupon" jdbcType="DECIMAL" />
		<result column="RemainPoints" property="remainpoints" jdbcType="DECIMAL" />
		<result column="RemainAmount" property="remainamount" jdbcType="DECIMAL" />
		<result column="RemainAmount_USD" property="remainamountUsd"
			jdbcType="DECIMAL" />
		<result column="RemainElecNum" property="remainelecnum"
			jdbcType="DECIMAL" />
		<result column="RemainVIPAmount" property="remainvipamount"
			jdbcType="DECIMAL" />
		<result column="RemainStream" property="remainstream" jdbcType="DECIMAL" />
		<result column="CurStatus" property="curstatus" jdbcType="INTEGER" />
		<result column="InviteCode" property="invitecode" jdbcType="INTEGER" />
		<result column="BeInviteCode" property="beinvitecode" jdbcType="INTEGER" />
		<result column="IsVIP" property="isvip" jdbcType="INTEGER" />
		<result column="HeadPhoto" property="headphoto" jdbcType="VARCHAR" />
		<result column="NickName" property="nickname" jdbcType="VARCHAR" />
		<result column="IDCardPhoto" property="idcardphoto" jdbcType="VARCHAR" />
		<result column="IDCardPhoto2" property="idcardphoto2" jdbcType="VARCHAR" />
		<result column="IDCardPhoto3" property="idcardphoto3" jdbcType="VARCHAR" />
		<result column="IDCardNo" property="idcardno" jdbcType="VARCHAR" />
		<result column="IsAuth" property="isauth" jdbcType="INTEGER" />
		<result column="Lev" property="lev" jdbcType="INTEGER" />
		<result column="IsSubProxy" property="issubproxy" jdbcType="INTEGER" />
		<result column="TotalCost" property="totalcost" jdbcType="DECIMAL" />
		<result column="TeamTotalCost" property="teamtotalcost"
			jdbcType="DECIMAL" />
		<result column="SubTeamTotalCost" property="subteamtotalcost"
			jdbcType="DECIMAL" />
		<result column="SysID" property="sysid" jdbcType="INTEGER" />
		<result column="AllowFenYong" property="allowfenyong" jdbcType="INTEGER" />
		<result column="ProxyStar" property="proxystar" jdbcType="INTEGER" />
	</resultMap>
	<insert id="insertSelective" parameterType="com.zhongjian.webserver.pojo.User">
		insert into tb_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="username != null">
				UserName,
			</if>
			<if test="truename != null">
				TrueName,
			</if>
			<if test="password != null">
				Password,
			</if>
			<if test="paypassword != null">
				PayPassword,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="sex != null">
				Sex,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="email != null">
				Email,
			</if>
			<if test="alipay != null">
				Alipay,
			</if>
			<if test="wxopenid != null">
				WxOpenId,
			</if>
			<if test="birthday != null">
				Birthday,
			</if>
			<if test="coupon != null">
				Coupon,
			</if>
			<if test="remainpoints != null">
				RemainPoints,
			</if>
			<if test="remainamount != null">
				RemainAmount,
			</if>
			<if test="remainamountUsd != null">
				RemainAmount_USD,
			</if>
			<if test="remainelecnum != null">
				RemainElecNum,
			</if>
			<if test="remainvipamount != null">
				RemainVIPAmount,
			</if>
			<if test="remainstream != null">
				RemainStream,
			</if>
			<if test="curstatus != null">
				CurStatus,
			</if>
			<if test="invitecode != null">
				InviteCode,
			</if>
			<if test="beinvitecode != null">
				BeInviteCode,
			</if>
			<if test="isvip != null">
				IsVIP,
			</if>
			<if test="headphoto != null">
				HeadPhoto,
			</if>
			<if test="nickname != null">
				NickName,
			</if>
			<if test="idcardphoto != null">
				IDCardPhoto,
			</if>
			<if test="idcardphoto2 != null">
				IDCardPhoto2,
			</if>
			<if test="idcardphoto3 != null">
				IDCardPhoto3,
			</if>
			<if test="idcardno != null">
				IDCardNo,
			</if>
			<if test="isauth != null">
				IsAuth,
			</if>
			<if test="lev != null">
				Lev,
			</if>
			<if test="issubproxy != null">
				IsSubProxy,
			</if>
			<if test="totalcost != null">
				TotalCost,
			</if>
			<if test="teamtotalcost != null">
				TeamTotalCost,
			</if>
			<if test="subteamtotalcost != null">
				SubTeamTotalCost,
			</if>
			<if test="sysid != null">
				SysID,
			</if>
			<if test="allowfenyong != null">
				AllowFenYong,
			</if>
			<if test="proxystar != null">
				ProxyStar,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="truename != null">
				#{truename,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="paypassword != null">
				#{paypassword,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="alipay != null">
				#{alipay,jdbcType=VARCHAR},
			</if>
			<if test="wxopenid != null">
				#{wxopenid,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="coupon != null">
				#{coupon,jdbcType=DECIMAL},
			</if>
			<if test="remainpoints != null">
				#{remainpoints,jdbcType=DECIMAL},
			</if>
			<if test="remainamount != null">
				#{remainamount,jdbcType=DECIMAL},
			</if>
			<if test="remainamountUsd != null">
				#{remainamountUsd,jdbcType=DECIMAL},
			</if>
			<if test="remainelecnum != null">
				#{remainelecnum,jdbcType=DECIMAL},
			</if>
			<if test="remainvipamount != null">
				#{remainvipamount,jdbcType=DECIMAL},
			</if>
			<if test="remainstream != null">
				#{remainstream,jdbcType=DECIMAL},
			</if>
			<if test="curstatus != null">
				#{curstatus,jdbcType=INTEGER},
			</if>
			<if test="invitecode != null">
				#{invitecode,jdbcType=INTEGER},
			</if>
			<if test="beinvitecode != null">
				#{beinvitecode,jdbcType=INTEGER},
			</if>
			<if test="isvip != null">
				#{isvip,jdbcType=INTEGER},
			</if>
			<if test="headphoto != null">
				#{headphoto,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="idcardphoto != null">
				#{idcardphoto,jdbcType=VARCHAR},
			</if>
			<if test="idcardphoto2 != null">
				#{idcardphoto2,jdbcType=VARCHAR},
			</if>
			<if test="idcardphoto3 != null">
				#{idcardphoto3,jdbcType=VARCHAR},
			</if>
			<if test="idcardno != null">
				#{idcardno,jdbcType=VARCHAR},
			</if>
			<if test="isauth != null">
				#{isauth,jdbcType=INTEGER},
			</if>
			<if test="lev != null">
				#{lev,jdbcType=INTEGER},
			</if>
			<if test="issubproxy != null">
				#{issubproxy,jdbcType=INTEGER},
			</if>
			<if test="totalcost != null">
				#{totalcost,jdbcType=DECIMAL},
			</if>
			<if test="teamtotalcost != null">
				#{teamtotalcost,jdbcType=DECIMAL},
			</if>
			<if test="subteamtotalcost != null">
				#{subteamtotalcost,jdbcType=DECIMAL},
			</if>
			<if test="sysid != null">
				#{sysid,jdbcType=INTEGER},
			</if>
			<if test="allowfenyong != null">
				#{allowfenyong,jdbcType=INTEGER},
			</if>
			<if test="proxystar != null">
				#{proxystar,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByUserNameSelective" parameterType="User">
		update tb_user
		<set>
			<if test="truename != null">
				TrueName = #{truename,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				Password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="paypassword != null">
				PayPassword = #{paypassword,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="sex != null">
				Sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				Phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				Email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="alipay != null">
				Alipay = #{alipay,jdbcType=VARCHAR},
			</if>
			<if test="wxopenid != null">
				WxOpenId = #{wxopenid,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				Birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="coupon != null">
				Coupon = #{coupon,jdbcType=DECIMAL},
			</if>
			<if test="remainpoints != null">
				RemainPoints = #{remainpoints,jdbcType=DECIMAL},
			</if>
			<if test="remainamount != null">
				RemainAmount = #{remainamount,jdbcType=DECIMAL},
			</if>
			<if test="remainamountUsd != null">
				RemainAmount_USD = #{remainamountUsd,jdbcType=DECIMAL},
			</if>
			<if test="remainelecnum != null">
				RemainElecNum = #{remainelecnum,jdbcType=DECIMAL},
			</if>
			<if test="remainvipamount != null">
				RemainVIPAmount = #{remainvipamount,jdbcType=DECIMAL},
			</if>
			<if test="remainstream != null">
				RemainStream = #{remainstream,jdbcType=DECIMAL},
			</if>
			<if test="curstatus != null">
				CurStatus = #{curstatus,jdbcType=INTEGER},
			</if>
			<if test="invitecode != null">
				InviteCode = #{invitecode,jdbcType=INTEGER},
			</if>
			<if test="beinvitecode != null">
				BeInviteCode = #{beinvitecode,jdbcType=INTEGER},
			</if>
			<if test="isvip != null">
				IsVIP = #{isvip,jdbcType=INTEGER},
			</if>
			<if test="headphoto != null">
				HeadPhoto = #{headphoto,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				NickName = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="idcardphoto != null">
				IDCardPhoto = #{idcardphoto,jdbcType=VARCHAR},
			</if>
			<if test="idcardphoto2 != null">
				IDCardPhoto2 = #{idcardphoto2,jdbcType=VARCHAR},
			</if>
			<if test="idcardphoto3 != null">
				IDCardPhoto3 = #{idcardphoto3,jdbcType=VARCHAR},
			</if>
			<if test="idcardno != null">
				IDCardNo = #{idcardno,jdbcType=VARCHAR},
			</if>
			<if test="isauth != null">
				IsAuth = #{isauth,jdbcType=INTEGER},
			</if>
			<if test="lev != null">
				Lev = #{lev,jdbcType=INTEGER},
			</if>
			<if test="issubproxy != null">
				IsSubProxy = #{issubproxy,jdbcType=INTEGER},
			</if>
			<if test="totalcost != null">
				TotalCost = #{totalcost,jdbcType=DECIMAL},
			</if>
			<if test="teamtotalcost != null">
				TeamTotalCost = #{teamtotalcost,jdbcType=DECIMAL},
			</if>
			<if test="subteamtotalcost != null">
				SubTeamTotalCost = #{subteamtotalcost,jdbcType=DECIMAL},
			</if>
			<if test="sysid != null">
				SysID = #{sysid,jdbcType=INTEGER},
			</if>
			<if test="allowfenyong != null">
				AllowFenYong = #{allowfenyong,jdbcType=INTEGER},
			</if>
			<if test="proxystar != null">
				ProxyStar = #{proxystar,jdbcType=INTEGER},
			</if>
		</set>
		where UserName = #{username,jdbcType=VARCHAR}
	</update>
	<select id="checkUserNameExists" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select Id from tb_user where UserName = #{username}
	</select>
	<select id="checkUserFundOrCurSta" parameterType="java.lang.String"
		resultType="java.util.Map">
		select CurStatus,FundStatus from tb_user where UserName =
		#{username}
	</select>
	<select id="checkUserNewExclusive" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select NewExclusive from tb_user where UserName =
		#{username}
	</select>
	<select id="selectUserMaxSysID" resultType="java.lang.Integer">
		select MAX(SysID)
		from tb_user;
	</select>
	<select id="checkUserNameAndPassword" resultType="java.lang.Integer">
		select Id from
		tb_user where UserName = #{userName} and Password = #{password}
	</select>
	<select id="checkUserNameAndPayPassword" resultType="java.lang.Integer">
		select Id
		from
		tb_user where UserName = #{userName} and PayPassword =
		#{payPassword}
	</select>
	<update id="updatePassword">
		update tb_user set Password = #{password} where
		UserName = #{userName}
	</update>
	<select id="selectPersonalInform" resultType="java.util.Map">
		select
		UserName,SysID,Lev,IsSubProxy,NickName,HeadPhoto,RemainElecNum,RemainPoints,RemainVIPAmount,Coupon,TotalCost,RemainStream,Phone,TrueName,IDCardNo,InviteCode,PayPassword
		from tb_user where UserName = #{userName}
	</select>
	<select id="selectPersonalInformById" resultType="java.util.Map">
		select
		UserName,SysID,Lev,IsSubProxy,NickName,HeadPhoto,RemainElecNum,RemainPoints,RemainVIPAmount,Coupon,TotalCost,RemainStream,Phone,TrueName,IDCardNo,InviteCode,PayPassword
		from tb_user where Id = #{id}
	</select>
	<select id="getUserIdByUserName" resultType="java.lang.Integer">
		select Id from
		tb_user where UserName = #{userName}
	</select>
	
	<select id="getUserNameByUserId" resultType="java.lang.String">
		select UserName from
		tb_user where Id = #{UserId}
	</select>
	<select id="InviteCodeIsExists" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM
		tb_user where InviteCode = #{InviteCode};
	</select>
	<select id="selectUserQuotaForUpdate" resultType="java.util.Map">
		SELECT
		Id
		UserId,Coupon,RemainPoints,RemainElecNum,RemainVIPAmount,RemainStream,TotalCost
		FROM tb_user WHERE Id = #{Id} FOR UPDATE;
	</select>
	<update id="updateUserQuota" parameterType="java.util.Map">
		update tb_user set
		Coupon = #{Coupon},RemainPoints = #{RemainPoints},RemainElecNum =
		#{RemainElecNum},RemainVIPAmount =
		#{RemainVIPAmount},RemainStream =
		#{RemainStream},TotalCost = #{TotalCost} where Id = #{UserId}
	</update>
	<update id="updateNewExclusiveDraw" parameterType="java.lang.String">
		update tb_user
		set NewExclusive = 1 where UserName = #{UserName} and NewExclusive = 0
	</update>
	<select id="checkUserIdExits" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		select count(1) from tb_user where Id = #{id}
	</select>
	<select id="queryUserAuth" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT CurStatus from tb_user WHERE Id = #{id}
	</select>
	<select id="getExpireTimeFromGcOfUser" resultType="java.util.Date"
		parameterType="java.lang.Integer">
		SELECT ExpireTime from tb_greenchannel where
		UserId =
		#{id}
	</select>
	<update id="updateExpireTimeOfGcOfUser">
		update tb_greenchannel set ExpireTime =
		#{ExpireTime,jdbcType=TIMESTAMP}
		where UserId = #{UserId}
	</update>
	<insert id="insertExpireTimeOfGcOfUser">
		insert into tb_greenchannel (UserId,ExpireTime)
		VALUES (#{UserId},#{ExpireTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="setLev">
		update tb_user set Lev = #{Lev},IsSubProxy =
		#{IsSubProxy} where Id =
		#{UserId}
	</update>
</mapper>